*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 400px;
    margin: 0 auto;
}

.img{
    padding: 4px;
    width: 30px;
    border:  2px solid grey;
    border-radius: 50%;
}

.main-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-list{
    margin: 30px;
    margin-bottom: 40px;
}

.center{
    margin-bottom: 60px;
}

.images-flex{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    margin: 15px;
    background: whitesmoke;
    box-shadow: 1px 1px yellow;
}
.img:hover{
    background-color: turquoise;
}
body{
    background-color: lightslategray;
}
p{
    color: white;
}
h3{
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    padding: 10px;
    width: 100px;
    height: 30px;
    font-size: 10px;
    background-color: darkcyan;
    border: none;
    color: whitesmoke;
    border-radius: 10px;
}
.btn:hover{
    background-color: lightyellow;
    color: darkslategrey;
}

.top-text{
    margin-bottom: 10px;
}
.top-list{
    text-align: center;
}

.image{
 display: none;
}

.btn-active{
    display: none;
    transition: 0.4s;
}

.left-active, .right-active{
    width: fit-content;
    height: fit-content;
   
    border:  2px solid grey;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 15px;
    position: relative;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loader{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(30deg, #20929c, #d5f856, #eb9358 );
    transition: all 0.5s ease;
}
.loader-img{
    width: 50px;
    animation-name: loader-new;
    animation-iteration-count: infinite;
    transition: 0.3;
    animation-duration: 0.2s;
    animation-direction: alternate-reverse;
}
@keyframes loader-new{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.2);
    }
  
}

